.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.float-left{
  float: left;
  color: rgb(0, 0, 0);
  font-size: 13px;
  margin-left: 200px;
}

.float-right{
  float : right;
  color: rgb(0, 0, 0);
  font-size: 13px;
  margin-right: 200px;
}

.products{
  padding-bottom: 1200px;
}

.tshirt{
  left : 560px;
  font-size: 20px;
  margin-top: -50px;
  border-radius: 30px;
  position: absolute;
}

.shoes{
  left : 150px;
  font-size: 20px;
  width: 400px;
  height: 400px;
  margin-top: -50px;
  border-radius: 30px;
  position: absolute;
}

.bag{
  right : 350px;
  font-size: 20px;
  width: 400px;
  height: 400px;
  margin-top: -50px;
  border-radius: 30px;
  top : 750px;
  position: absolute;
}

.cap{
  right : 150px;
  font-size: 20px;
  width: 400px;
  height: 400px;
  margin-top: -50px;
  border-radius: 30px;
  position: absolute;
}

.pant{
  left : 350px;
  font-size: 20px;
  width: 350px;
  height: 400px;
  margin-top: -50px;
  border-radius: 30px;
  top : 750px;
  position: absolute;
}






