.tshirt {
    position: center;
    width: 40%;
}

.shoes {
    position: left;
    width: 20%;
}

.cap {
    position: right;
    width: 20%;
}

.pant {
    position: left;
    width: 30%;
}

.bag {
    position: right;
    width: 30%;
}
